* {
    border: 1px solid black;
    font-family: 'Ubuntu', serif;
}

body {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    width: auto;
    /* height: 400px ; */
    margin: 1em;
}
.controls {
    text-align: center;
    display: grid;
    grid-row: 1 / span 1;
    grid-column: 1;
    grid-template-rows: 1fr 1fr 2fr;
    background-color: linen;
}

.controls > #selectCount {
    grid-row: 2;
    font-size: large;
}

.controls > #selectCategory {
    grid-row: 1;
    font-size: large;
    text-align: center;
}

.controls > #gameButton {
    grid-row: 3;
    background-color: rgb(125, 131, 136);
    animation: ease-in;
    font-size: large;
}

.controls > #gameButton:hover {
    background-color: silver;
}

.card {
    text-align: center;
    align-items: center;
    grid-row: 1 / span 4;
    grid-column: 2;
    background-color: rgb(145, 168, 101);
    display: grid;
    grid-template-rows: 1fr 2fr;
    /* grid-auto-rows: minmax(30px, auto); */
}

.card > .question {
    box-sizing: border-box;
    height: 100%;
    font-size: x-large;
    background-color: rgb(112, 138, 63);
}

.card > .choices {
    box-sizing: border-box;
    height: 100%;
    /* grid-row: 2 / span 1; */
    font-size: larger;
    display: grid;
    align-items: center;
}

.guess:hover {
    background-color: yellowgreen;
}

.card > .guess {
    box-sizing: border-box;
    height: 100%;
    display: grid;
    align-items: center;
}

.scores {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
    background-color: peru;
}

footer {
    grid-column: 1 / 3;
}