* {
    /* border: 1px solid black; */
    font-family: 'Ubuntu', serif;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    margin: auto repeat(2px, 4);
}
.controls {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 2;
    text-align: center;
    padding: 1pc;
    background-color: rgb(219, 159, 99);
}

.controls > #selectCount {
    /* display: flex; */
    order: 2;
    font-size: large;
    padding: 1vh;
}

.controls > #selectCategory {
    /* display: flex; */
    order: 1;
    font-size: large;
    text-align: center;
    padding: 1vh;
}

.controls > #gameButton {
    /* padding-inline-start: 2%; */
    order: 3;
    text-align: center;
    animation: ease-in;
    font-size: xx-large;
}

#gameButton {
        color: white;
        background: #4C8FFB;
        border: 1px rgb(39, 108, 219) solid;
        box-shadow: inset 0 4px 0 #80B0FB;
    }
    
    #gameButton:hover {
        border: 1px #2F5BB7 solid;
        box-shadow: 0 4px 4px #EAEAEA, inset 0 4px 0 #5A94F1;
        background: #3F83F1;
    }

.card {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 2;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    background-color: rgb(145, 168, 101);
}

.card > .question {
    font-size: larger;
    background-color: rgb(112, 138, 63);
    padding: 5vmin;
    text-align: center;
}

.correct {
    background-color: yellowgreen;
}

.incorrect {
    background-color: rgb(197, 106, 106) ;
    padding: 5vmin;
}

.choices > p {
    text-align: center;
    /* flex-basis: fill; */
    /* box-sizing: border-box; */
    /* height: 100%; */
    font-size: large;
    align-content: stretch;
    /* padding-inline-start:  10vmin;
    padding-inline-end:  10vmax; */
    /* flex-grow: 2; */
    /* padding-top: 5vmin;
    padding-bottom: 5vmin; */
    padding: 1vh;
}

.guess:hover {
    background-color: rgb(228, 225, 92);
}

.scores {
    /* display: flex; */
    display: inline;
    text-align: center;
    align-content: center;
    align-items: stretch;
    background-color: rgb(219, 159, 99);
    padding: 1pc;
}

.scores > div {
    display: inline;
    padding: 10px 10px;
}

footer {
    display:flex;
}
