* {
    border: 1px solid black;
    font-family: 'Crete Round', serif;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.category {
    text-align: center;
    font-size: 1.5pc;
}

.question {
    text-align: center;
    font-size: 1.5pc;
    padding: 1.5pc;
}

.canvas {
    display: flex;
    align-items: center;
}

.card {
    background-color: wheat;
}

.scores {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.choices {
    list-style: none;
    line-height: 3pc;
    line-break: strict;
    text-align: center;
}