* {
    font-family: 'Ubuntu',  serif;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    padding: 2px;
    margin: auto;
}
.header {
    background-color: rgb(112, 138, 63);
    font-family: 'Bungee', cursive;
    font-size: x-large;
    padding: 3px;
    text-align: center;
}
.controls {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 2;
    text-align: center;
    padding: 1pc;
    background-color: rgb(193, 211, 236);
}

.controls > #selectCount {
    order: 2;
    font-size: large;
    padding: 1vh;
}

.controls > #selectCategory {
    order: 1;
    font-size: large;
    text-align: center;
    padding: 1vh;
}

.controls > #gameButton {
    order: 3;
    text-align: center;
    animation: ease-in;
    font-size: xx-large;
}

#gameButton {
        color: white;
        background: #4C8FFB;
        border: 1px rgb(39, 108, 219) solid;
        box-shadow: inset 0 4px 0 #80B0FB;
        padding: 1vh;
    }
    
    #gameButton:hover {
        border: 1px #2F5BB7 solid;
        box-shadow: 0 4px 4px #EAEAEA, inset 0 4px 0 #5A94F1;
        background: #3F83F1;
    }

.card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    background-color: rgb(145, 168, 101);
}

.card > .question {
    font-size: larger;
    background-color: rgb(112, 138, 63);
    padding: 10px;
    text-align: center;
}

.correct {
    background-color: rgb(112, 138, 63);
    text-align: center;
}

.incorrect {
    background-color: rgb(181, 113, 113) ;
    text-align: center;
}
.lost {
    background-color: rgb(181, 113, 113) ;
    text-align: center;
    font-size: larger;
    padding: 20px;
}

.choices > p {
    font-size: large;
    align-content: stretch;
    cursor: none;
}

.guess:hover {
    background-color: rgb(228, 225, 92);
    cursor: pointer;
}

.scores {
    display: flex;
    flex-direction: row;
    place-content: center;
    background-color: rgb(193, 211, 236);
    
}

.scores > div {
    display: flex;
    align-items: stretch;
    align-content: center;
    text-align: center;
    padding-left: 15vw;
    padding-right: 15vw;
    margin: 20px;
    font-size: large;
}

footer {
    display:flex;
}
